/* Импорт других css-файлов */
@import 'elements.css';
@import 'grids.css';
@import 'fonts.css';

/* Сброс стилей */
body, template {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

/* Стилизация header'a */
header {
    height: 6rem;
    background-color: #FFC513;
}

/* Стилизация footer'а */

footer {
    height: 10rem;
    background-color: #FFC513;
}

.c-b {
    color: #002C6F;
}

.c-y {
    color: #FFC513;
}

.c-w {
    color: white;
}

/* секции на главной странице */

.aboutCompany {
    height: 43rem;
    background-image: url("../img/backgroundMain.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.sendForm {
    height: 55rem;
    background-image: url("../img/background-form.png");
}

.usersReviews {
    height: 36rem;
    background-color: #393939;
}
