/* файл для работы с элементами сайта */

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.d-f {
    display: flex;
}

.j-c-c {
    justify-content: center;
}

.j-c-s-b {
    justify-content: space-between;
}

.j-c-l {
    justify-content: left;
}

.a-c-c {
    align-items: center;
}

.f-d-c {
    flex-direction: column;
}

.f-d-r {
    flex-direction: row;
}

.t-a-c {
    text-align: center;
}

.t-a-l {
    text-align: left;
}

.a-i-c {
    align-items: center;
}

.a-s-s {
    align-self: stretch;
}

.elissa {
    margin-top: 0.18rem;
}

.icon-vk, .icon-whatsapp{
    width: 1.25rem;
    height: 1.188rem;
}

.icon-email {
    margin-left: 0.5rem;
    width: 1.875rem;
    height: 1.188rem;
}

.icon-vk:hover, .icon-email:hover {
    cursor: pointer;
}

.nav-text {
    line-height: 1.286rem;
}

.gap-3_5{
    gap: 3.5rem;
}

.gap_13 {
    gap: 13rem;
}

.aboutCompany .wrapper {
    margin-top: 10rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-pb-2 {
    padding: 2rem 0 2rem 0;
}

.mt-1 {
    margin-top: -1rem;
}

.mt_1 {
    margin-top: 1rem;
}

.mt_3 {
     margin-top: 3rem;
 }

.mt-5 {
    margin-top: 5rem;
}

.mb_5 {
    margin-bottom: 5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.lh-2 {
    line-height: 2rem;
}

.aboutCompany .wrapper h2, .aboutCompany .wrapper h3 {
    margin-bottom: 0;
}

.whatWeGive {
    background-color: #393939;
}

.whatWeUse {
    width: 32.813rem;
    line-height: 1.2;
    font-size: 24px;
}


ul {
    list-style: none;
    padding: 0;
}

ul > li {
    padding-top: 2rem;
}

ul > li:before{
    content: '✔';
    color: #FFC513;
    padding-right: 1rem;
}

.two_people_image {
    margin-left: 40rem;
    margin-top: -33rem;
}

.sendRequestForm {
    margin: auto;
    width: 28.5rem;
    height: 40.938rem;
    background-color: white;
    padding:1rem 0 0 2rem;
    border-radius: 5%;
}

.sendRequestForm > input, .sendRequestForm > select {
    width: 24.5rem;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    outline: none;
}

.sendRequestForm > input:focus {
    font-style: oblique;
}

.sendFormButton {
    margin: auto;
    background: none;
    width: 10rem;
    height: 2.875rem;
    border: 2px solid #FFC513;
    padding: 16px;
    transition: .5s;
}

.sendFormButton:hover {
    transition: .5s;
    cursor: pointer;
    color: white;
    background-color: #FFC513;
}

.sendFormButton:active {
    background-color: #E9B000;
}

.makeServiceText {
    width: 15.625rem;
}

.workingDaysText {
    width: 6rem;
}

.copyright-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.phoneNumber {
    margin-left: 0.2rem;
    margin-top: -0.2rem;
}

.userReviewDescription1, .userReviewDescription2, .userReviewDescription3 {
    background: linear-gradient(89.62deg, #E4E3E3 0.14%, #AEAEAE 77.77%, rgba(255, 255, 255, 0) 99.36%);
    margin-left: 42rem;
    margin-top: -23rem;
    padding-left: 4rem;
    padding-top: 0.1rem;
    position: absolute;
    width: 38.75rem;
    height: 22.563rem;
}

.reviewText {
    width: 30.938rem;
}


.nextReviewIcon {
    margin-left: 1rem;
}

.previousReviewIcon:hover, .nextReviewIcon:hover {
    cursor: pointer;
}

/* форма регистрации */

.registration, .login, .resetPassword {
    background-color: #393939;
}

.registrationForm, .loginForm, .resetPasswordForm {
    margin: auto;
    width: 53.125rem;
    height: 61.375rem;
    background-color: white;
    padding: 1rem 0 0 3rem;
    border-radius: 5px;
}

.resetPasswordForm {
    height: 46.375rem;
}

.registrationForm > input, .loginForm > input, .resetPasswordForm > input {
    width: 37.5rem;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    outline: none;
}

.loginForm > input, .resetPasswordForm > input {
    width: 25rem;
    margin: auto;
}

.sendRegistrationForm, .sendLoginForm {
    margin: auto;
    background: none;
    width: 18.5rem;
    height: 4.1875rem;
    border: 2px solid #FFC513;
    padding: 16px;
    transition: .5s;
}

.sendLoginForm {
    margin: 5rem 0 0 17rem;
}

.sendRegistrationForm:hover, .sendLoginForm:hover, .openRecordButton:hover {
    transition: .5s;
    cursor: pointer;
    color: white;
    background-color: #FFC513;
}

a {
    color: #002C6F;
}

.resetPasswordText {
    width: 41rem;
    height: 10rem;
    margin-left: 5rem;
}

/* Услуги */
.serviceInfo {
    height: 26.875rem;
    width: 23.125rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.openRecordButton {
    margin: auto;
    background: none;
    width: 17.75rem;
    height: 2.875rem;
    border: 2px solid #FFC513;
    transition: .5s;
    padding: 0;
}


body > section.goOnRecord > div > h3.d-f.j-c-c.fs-24px.fw-400.c-w {
    margin-bottom: 5px;
}

.pageButton1:hover, .pageButton2:hover {
    cursor: pointer;
    transition: .5s;
    color: #FFC513;
}

.pageButton1:active, .pageButton2:active {
    color: #FFC513;
}