/* Подключение шрифта */
@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/Inter-Regular.ttf");
}

.fs-17px {
    font-size: 17px;
    text-decoration: none;
}

.fs-24px {
    font-size: 24px;
}

.fs-28px {
    font-size: 28px;
}

.fs-32px {
    font-size: 32px;
}

.fs-48px {
    font-size: 48px;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}